extends layout

block content
  h1= title
  form(id='GadgetForm', action="/resource/gadgets", method="POST")
    div.form-group
      label.siteAttr(for='name') Gadget Name
      input#name(type='text', name='name', required=true)
    div.form-group
      label.siteAttr(for='brand') Brand
      input#brand(type='text', name='brand', required=true)
    div.form-group
      label.siteAttr(for='year_released') Year Released
      input#year_released(type='number', name='year_released', required=true)
    input(type="submit", value="Create")
  
  script.
    document.forms['GadgetForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target))
      })
      .then((resp) => resp.json())
      .then((body) => {
        alert("Save succeeded!");
      })
      .catch((error) => {
        alert("Save failed: " + error);
      });
    });
