extends layout

block content
  h1= title
  form(id='GalaxyForm', action="/resource/galaxies", method="POST")
    div.form-group
      label.galaxyAttr(for='galaxy_name') Galaxy Name
      input#galaxy_name(type='text', name='galaxy_name')
    div.form-group
      label.galaxyAttr(for='year') Year
      input#year(type='number', name='year')
    div.form-group
      label.galaxyAttr(for='discoverer') Discoverer
      input#discoverer(type='text', name='discoverer')
    input(type="submit")
  script.
    document.forms['GalaxyForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target))
      }).then((resp) => {
        return resp.json();
      }).then((body) => {
        alert("Save succeeded");
      }).catch((error) => {
        alert("Save failed " + error);
      });
    });
