extends layout

block content
    h1 Galaxy Detail

    if (toShow == null)
        h2 No instance found
    else
        - let galaxyid = toShow._id
        - let name = toShow.name
        - let galaxyDiscoverer = toShow.discoverer
        - let galaxyYear = toShow.year

        div(class="mb-3")
            div.row.mb-2
                div(class='galaxyAttr mr-3 font-weight-bold') Galaxy ID:
                div #{galaxyid}
            div.row.mb-2
                div(class='galaxyAttr mr-3 font-weight-bold') Galaxy Name:
                div #{name}
            div.row.mb-2
                div(class='galaxyAttr mr-3 font-weight-bold') Galaxy Year:
                div #{galaxyYear}
            div.row.mb-2
                div(class='galaxyAttr mr-3 font-weight-bold') Galaxy Discoverer:
                div #{galaxyDiscoverer}

        button(class="btn btn-secondary mt-3" onclick="goBack()") Go Back

    script.
        function goBack() {
            window.location.href = "/galaxies";
        }
